.product-listing {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  
  @media screen and (min-width: $medium) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__button-container {
    margin: 1rem 0;
    text-align: center;
  }
}